<%- include("../includes/header.ejs") %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include("../includes/navbar.ejs") %>
            <main>
                <% if (orders.length <=0) { %>
                    <h4>No Orders</h4>
                    <% } else { %>
                        <ul class="orders">
                            <% orders.forEach(order=> { %>
                                <li class="orders__item">
                                    <h4># <%= order._id %>
                                    </h4>
                                    <ul class="orders__products">
                                        <% order.products.forEach(p=> { %>
                                            <li class="orders__products-item">
                                                <%= p.product.title %> (<%= p.quantity %>)
                                            </li>
                                            <% }); %>
                                    </ul>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
            </main>
            <%- include("../includes/footer.ejs") %>